html {
  background-color: black;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.save-badge {
  color: #0DCAF0;
  font-weight: bold;
  font-size: 18px;
  text-decoration: underline;
  cursor: pointer;
}

.menu-screen {
  background-color: black;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
}

.upper-body-menu {
  padding-top: 20vh;
}

.hidden {
  display: none !important;
}

.App {
  text-align: center;
  background-color: black;
}

.logo {
  height: 40vh;
  width: 30vh;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.large-logo {
  height: 30vh;
  width: 27vh;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

input[type=text] {
  background: transparent;
  border: none;
  border-bottom: 3px solid #4D4D4D;
  text-align: center;
  color: white;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  font-size: 20px;
}

input[type=password] {
  background: transparent;
  border: none;
  border-bottom: 3px solid #4D4D4D;
  text-align: center;
  color: white;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  font-size: 20px;
}

.form-field {
  margin-top: 10px;
  animation: fadeInLeft ease 2s;
  animation-iteration-count: 1;
}

.sub-form-field {
  margin-top: 20px;
}

.fade-left {
  animation: fadeInLeft ease 2s;
  animation-iteration-count: 1;
}

.fade-right {
  animation: fadeInRight ease 2s;
  animation-iteration-count: 1;
}

#password-form-field {
  margin-top: 20px;
  margin-bottom: 25px;
  animation: fadeInRight ease 2s;
  animation-iteration-count: 1;
}

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none !important;
    box-shadow: none !important;
}

.signIn-btns {
  display: flex;
  width: 80%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  column-gap: 10px;
}

.signIn-btn-1 {
  max-width: 245px;
  animation: home-btn-fade-in ease 3s;
  animation-iteration-count: 1;
}

.signIn-btn-2 {
  max-width: 245px;
  animation: home-btn-fade-in ease 3s;
  animation-iteration-count: 1;
}

.signIn-btn-3 {
  max-width: 500px !important;
  animation: home-btn-fade-in ease 3s;
  animation-iteration-count: 1;
}

.go-back-btn:hover {
  border-color: #6C757D !important;
  border-width: 3px;
  color: #6C757D !important;
  background-color: black !important;
}

.register-btn:hover {
  border-color: #0DCAF0 !important;
  border-width: 3px;
  color: #0DCAF0 !important;
  background-color: black !important;
}

.signIn-form {
  display: flex;
  flex-direction: column;
}

.home-btn {
  margin-top: 25px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}

.home-btn-1 {
  animation: home-btn-fade-in ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.home-btn-2 {
  animation: home-btn-fade-in ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.home-btn-3 {
  animation: home-btn-fade-in ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.home-btn-4 {
  animation: home-btn-fade-in ease 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.home-btn-5 {
  animation: home-btn-fade-in ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.home-btn-6 {
  animation: home-btn-fade-in ease 6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.home-btn-regular:hover {
  color: #F8F9FA !important;
  border: solid 3px #F8F9FA !important;
  background-color: black !important;
}

.home-btn-ape:hover {
  color: #D43343 !important;
  border: solid 3px #D43343 !important;
  background-color: black !important;
}

.exercise-page {
  padding-top: 8vh;
  color: white;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}

.exercise-page-navigation {
  display: flex;
  justify-content: space-between;
  color: #0DCAF0 !important;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.exercise-page-navigation a {
  color: #0DCAF0;
}

.card-header {
  background-color: #4D4D4D;
  text-transform: capitalize;
  font-size: 24px;
  font-weight: bold;
}

.card-footer {
  background-color: #4D4D4D;
  color: white;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  font-size: 24px;
}

.card-body {
  background-color: black;
}

.card {
  margin-top: 5vh;
  margin-bottom: 30px;
}

/*----------Animations----------*/
@keyframes home-btn-fade-in {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

@keyframes fadeInLeft {
  0% {
     opacity: 0;
     transform: translateX(-200px);
  }
  100% {
     opacity: 1;
     transform: translateX(0);
  }
}   

@keyframes fadeInRight {
  0% {
     opacity: 0;
     transform: translateX(200px);
  }
  100% {
     opacity: 1;
     transform: translateX(0);
  }
}   

/*----------Media Queries----------*/
@media only screen and (max-width: 630px) {
  .signIn-btns {
    flex-direction: column;
  }

  .signIn-btn-1 {
    width: 100% !important;
  }

  .signIn-btn-2 {
    width: 100% !important;
  }
}